Order Deny,Allow
Deny from all

<FilesMatch "^visitorchat\.(css|js|img|files|public_tmp)$">
	Allow from all
</FilesMatch>

<FilesMatch "^(.+)\.(png|gif|jpg|jpeg|mp3|ogg|wav|js|css)$">
	Allow from all
</FilesMatch>